<o-form-layout-manager attr="Company" mode="tab" title="COMPANY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CompanyTable" 
            service="Company" 
            entity="Company" 
            title="COMPANY"
            keys="CompanyID"
            columns="CompanyName;ApplicationID;Category;StreetAddress;AddressLine2;City;State;Country;ZipCode;Website;CopackerDirectory;VeganCertification;PlantCount;CreatedDate;LastUpdatedDate;CompanyID;KashrusCompanyID;CurrentlyCertified;EverCertified;OwnBrand" 
            header-actions="R;D"
            visible-columns="CompanyName;ApplicationID;Category;StreetAddress;AddressLine2;City;State;Country;ZipCode;Website;CopackerDirectory;VeganCertification;PlantCount;CreatedDate;LastUpdatedDate;CompanyID;KashrusCompanyID;CurrentlyCertified;EverCertified;OwnBrand"  
            sort-columns="CompanyName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #CompanyName attr="CompanyName" title=" Company Name" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;PrimaryContactName"
        parent-keys="CompanyID:ApplicationID"
        value-column="PrimaryContactName" keys="ApplicationID"
        visible-columns="PrimaryContactName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #Category attr="Category" title="Category" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #StreetAddress attr="StreetAddress" title="StreetAddress" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #AddressLine2 attr="AddressLine2" title="AddressLine2" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #City attr="City" title="City" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #State attr="State" title="State" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Country attr="Country" title="Country" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #ZipCode attr="ZipCode" title="ZipCode" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Website attr="Website" title="Website" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="CopackerDirectory" title="CopackerDirectory">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column attr="VeganCertification" title="VeganCertification">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #PlantCount attr="PlantCount" title="PlantCount" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #LastUpdatedDate attr="LastUpdatedDate" title="LastUpdatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #CompanyID attr="CompanyID" title="CompanyID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #KashrusCompanyID attr="KashrusCompanyID" title="KashrusCompanyID" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="CurrentlyCertified" title="CurrentlyCertified">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column attr="EverCertified" title="EverCertified">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column attr="OwnBrand" title="OwnBrand">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>