<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="IngredientName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Ingredient_form_edit" 
        service="Ingredient" 
        entity="Ingredient" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="IngredientID" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #IngredientName attr="IngredientName" label=" Ingredient Name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-list-picker 
        attr="ApplicationID"
        service="WFApplication" 
        entity="WFApplicationType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ApplicationID" 
        value-column-type="INTEGER"  
        keys="ApplicationID" 
        columns="ApplicationID;ApplicationID;PrimaryContactName" 
        title="ApplicationID"
        visible-columns="ApplicationID;PrimaryContactName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-text-input #Source attr="Source" label="Source" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #RMC attr="RMC" label="RMC" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Manufacturer attr="Manufacturer" label="Manufacturer" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Packaging attr="Packaging" label="Packaging" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #CertificationAgency attr="CertificationAgency" label="CertificationAgency" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #AddedDate attr="AddedDate" value-type="string" label="AddedDate" enabled="yes" required="yes" format="YYYY-MM-DD" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #AddedBy attr="AddedBy" label="AddedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Status attr="Status" label="Status" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #IngredientID attr="IngredientID" label="IngredientID" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #NCRCIngredientID attr="NCRCIngredientID" label="NCRCIngredientID" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #UKDID attr="UKDID" label="UKDID" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Brand attr="Brand" label="Brand" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>