<o-form #WFIngredientForm attr="WFIngredient_form_insert" service="WFIngredient" entity="WFIngredient"
keys="IngredientID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #IngredientID attr="IngredientID" label=" Ingredient I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="ApplicationID"
        service="WFApplication" 
        entity="WFApplicationType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ApplicationID" 
        value-column-type="INTEGER"  
        keys="ApplicationID" 
        columns="ApplicationID;ApplicationID;PrimaryContactName" 
        title="ApplicationID"
        visible-columns="ApplicationID;PrimaryContactName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="ProductID"
        service="WFProduct" 
        entity="WFProductType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="ProductID" 
        value-column-type="INTEGER"  
        keys="ProductID" 
        columns="ProductID;ProductID;ProductID" 
        title="ProductID"
        visible-columns="ProductID;ProductID" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #NCRCIngredientID attr="NCRCIngredientID" label="NCRCIngredientID" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>